[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
prefect = {extras = ["github"], version = "*"}
kaggle = "*"
pandas-profiling = "*"
pycaret = {extras = ["full"], version = "*"}
wandb = "*"

[dev-packages]
autopep8 = "*"
jupyterlab = "*"

[requires]
python_version = "3.9"
